<main>
	<h3>Choose how you want to play</h3>
	<form (ngSubmit)="startGame()">
		<div class="select-group">
			@for (gameModeOption of gameModeOptions; track $index) {
				<div class="selection-control" [class.selected-multioption]="selectedGameMode===gameModeOption" (click)="setGameMode(gameModeOption)">
					<label>{{ gameModeOption }}</label>	
				</div>
			}
		</div>
		<div class="select-group">
			@for (startingScoreOption of startingScoreOptions; track $index) {
				<div class="selection-control" [class.selected-multioption]="selectedStartingScore===startingScoreOption" (click)="setStartingScore(startingScoreOption)">
					<label>{{ startingScoreOption }}</label>
				</div>
			}
		</div>
		<div class="select-group select-group-elimination">
			<p>Elimination</p>
			<label class="switch">
				<input type="checkbox" [(ngModel)]="isElimination" name="isElimination">
				<span class="slider round"></span>
			</label>
		</div>
	</form>
	<button (click)="startGame()" [disabled]="!selectedGameMode || !selectedStartingScore">Game On!</button>
</main>