<main>
	<form>
		<div class="player-area">
			@for (player of playerList; track $index) {
				<div class="added-player">
					<p>{{ player.name }}</p>
					<button (click)="removePlayer(player.name)"><span class="material-icons">delete</span></button>
				</div>
			}
			<div id="player-input">
				<input #playerName type="text" placeholder="Enter player name" (keydown.enter)="addPlayerButton.click()">
				<button #addPlayerButton (click)="addPlayer(playerName.value, playerName)"><span class="material-icons">add</span></button>
			</div>
		</div>
		<div class="select-group">
			@for (gameModeOption of gameModeOptions; track $index) {
				<div class="selection-control" [class.selected-multioption]="selectedGameMode===gameModeOption" (click)="setGameMode(gameModeOption)">
					<label>{{ gameModeOption }}</label>	
				</div>
			}
		</div>
		<div class="select-group">
			@for (startingScoreOption of startingScoreOptions; track $index) {
				<div class="selection-control" [class.selected-multioption]="selectedStartingScore===startingScoreOption" (click)="setStartingScore(startingScoreOption)">
					<label>{{ startingScoreOption }}</label>
				</div>
			}
		</div>
		<div class="select-group select-group-elimination">
			<p>Elimination</p>
			<label class="switch">
				<input type="checkbox" [(ngModel)]="isElimination" name="isElimination">
				<span class="slider round"></span>
			</label>
		</div>
	</form>
	<button (click)="startGame()" [disabled]="!selectedGameMode || !selectedStartingScore || playerList.length === 0">Game On!</button>
</main>