@import "../../styles.less";

main {
	width: 100%;
	height: calc(100vh - @navbar-height);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	h3 {
		font-size: 10vw;
		color: @primary-accent-color;
	}

	.menu-list {
		width: 40%;
		height: 10%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		button {
			width: 10vw;
			height: 5vh;
			background-color: @primary-accent-color;
			border-style: none;
			border-radius: @border-radius;
			transition: 0.2s;
			color: @font-primary-color;
			font-size: 3vh;

			&:hover {
				opacity: 0.8;
				font-size: 25px;			  
			}  
		}
	}
}

@media (orientation: portrait) {
	main {

		h3 {
			justify-self: first baseline;
		}

		.menu-list {
			width: 100%;
			height: 40%;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			justify-self: flex-end;

			button {
				width: 100%;
				height: 33%;
				border-radius: 0;
			}
		}	
	}
}